<div class="header">
  <p class="logo"><%= link_to "N//A", root_path %></p>
  <ul class="nav">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Work", work_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
  </ul>
  <span class="link"></span>
</div>

